@font-face {
  font-family: 'NanumSquare';
  src: url(fonts/NanumSquareR.ttf) format('truetype');
}
html {
  font-family: Roboto;
  font-size: 1.5em;
  /* text-align: justify; */
  line-height: 35px;
  background: black;
}
#card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 640px;
  /* border: 1px solid rgba(0, 0, 0, .1); */

  margin: 40px auto;
  padding: 50px 40px;

  box-sizing: border-box;
  background: #fff;
}

.korean {
  font-family: NanumSquare;
  font-weight: bold;
  color: #2b6eb5;
  margin: 0 3px 0 4px;
}

.korean0 {
  color: #f44336;
}
.korean1 {
  color: #66bb6a;
}
.korean2 {
  color: #1e88e5;
}
.korean3 {
  color: #ffb300;
}
.korean4 {
  color: #ab47bc;
}

.chinese {
  font-family: "Microsoft YaHei";
  font-size: 26px;
  /* font-weight: bold; */
  color: #25445f;
  margin: 0 5px;
}

.definition {
  font-size: .8em;
  color: #2b4760;
  white-space: nowrap;
  margin: 0 4px;
}
.definition:before {
  content: '«';
}
.definition:after {
  content: '»';
}

/* .separator {
  text-align: center;
  height: 1px;
  background: #bdbdbd;
  margin: 20px auto;
  width: 200px;
} */

.separator {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 1px;
  margin: 26px auto;
  background: #b1b1b1;
  width: 130px;
  color: #b1b1b1;
}
.separator:before {
  /* content: '𝄪'; */
  content: '♢';
  height: 34px;
  background: #fff;
  padding: 0 8px;
}

p {
  margin: 3px 0;
}

#corner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: #c1c1c1;
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  height: 26px;
  padding: 0 8px;
  background: #fff;
}

.header {
  font-style: italic;
  font-size: 16px;
  color: grey;

  margin: 0px 0 40px;
  padding-left: 20px;

  border-left: 5px solid #fff176;

  position: relative;
  left: -10px;
  top: 14px;
}