@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'NanumSquare';
  src: url(../fonts/NanumSquareR.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumSquareRound';
  src: url(../fonts/NanumSquare/NanumSquareRoundR.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumMyeongjo';
  src: url(../fonts/NanumMyeongjo/NanumMyeongjo.ttf) format('truetype');
}

@font-face {
  font-family: 'NotoColorEmoji';
  src: url(../fonts/NotoColorEmoji.ttf) format('truetype');
}

@font-face {
  font-family: 'UhbeeNaHyun';
  src: url(../fonts/UhbeeNaHyun/Uhbee\ NaHyun.ttf) format('truetype');
}
@font-face {
  font-family: 'UhBeeRice';
  src: url(../fonts/UhBeeRice/UhBee\ Rice.ttf) format('truetype');
}
@font-face {
  font-family: 'UhBeeSimplegirl';
  src: url(../fonts/UhBeeSimplegirl/UhBee\ Simple\ girl.ttf) format('truetype');
}
@font-face {
  font-family: 'UhBeeBongSik';
  src: url(../fonts/UhBeeBongSik/UhBee\ BongSik.ttf) format('truetype');
}
@font-face {
  font-family: 'EmojiSymbols';
  src: url(../fonts/EmojiSymbols/EmojiSymbols-Regular-37883244862ada81e50a5c43f090ab5b696a4d27c5e66d321546a1638bb1e682.woff);
}


body {
  font-family: Roboto;
}

.chinese {
  font-family: 'UD Digi Kyokasho NK-R';
  font-size: 24px;
}

.korean {
  font-family: NanumSquare;
  font-size: 1em;
}

.flag {
  font-family: NotoColorEmoji;
  font-size: 24px;
}