.card {
  position: relative;
  width: 640px;
  height: 640px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;

  color: #484848;
}
.card.dark {
  background: #282828;
}

.border {
  border: 1px solid black;
}

.card header {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 0 10px;

  background: #f3f3f3;
  color: #a0a0a0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  /* box-shadow: 0 0px 7px -1px; */
}
.card.dark header {
  background: #424242;
  color: #bdbdbd;
}